div.flyer {
  height: 1070px;
  padding-bottom: 50px;
}

div.subsection {
  padding: 0 30px;
}

div.schedule {
  display: inline-block;
}

li.indented {
  margin-left: 30px;
}

img.symposium {
  text-align: center;
  margin: 0 auto;
  width: 700px;
  padding: 20px;
  display: block;
}